<div class="section">
			<div class="container">
				<div class="center">
				<div class="heading-block">
					<h4>Projekt został wykonany przez:</h4>
				</div>	
					<div class="topmargin nobottommargin">

						<div style="position: relative;" data-height-lg="535" data-height-md="442" data-height-sm="338" data-height-xs="316" data-height-xxs="201">
							<h4>Adrianna Wlaźlak</h4>
							<h4>Mariusz Kamiński</h4>
							<h4>Tomek Pryczka</h4>
							<h4>Mateusz Masłoń</h4>
							<h4>Jakub Kaniuka</h4>
							<h4>Bartek Kozub</h4>
							<br>
							<h4> we współpracy z firmą COMARCH</h4>
						</div>

					</div>
				</div>
			</div>

		</div>