<div class="section">
			<div class="container clearfix">
				<div class="center">
					<h4>Zapraszamy do pobrania naszej darmowej aplikacji na platformę Android. Można ją pobrać klikając<br/> <a href="../JustRace.apk" target="_blank"><button class="btn"  style="background-color:#f0e246; color:#1c2d47; font-size:20px; ">TUTAJ</button></a></h4>

					<div class="col_two_third topmargin nobottommargin">

						<div style="position: relative;" data-height-lg="535" data-height-md="442" data-height-sm="338" data-height-xs="316" data-height-xxs="201">
							<img src="../images/ma2.png" height="100%" style="position: absolute; top: 0; left: 0;">
							<img src="../images/ma3.png" height="100%" style="position: absolute; top: 0; left: 305px;">
							<img src="../images/ma4.png" height="100%" style="position: absolute; top: 0; left: 610px;">
							<img src="../images/ma1.png" height="100%" style="position: absolute; top: 0; left: 915px;">
						</div>

					</div>
				</div>
			</div>

</div>

<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>