<section id="content" ng-controller="compRunnersListController" ng-init="init()">

			<div class="content-wrap">


					<div class="container clearfix">	
	
						<!-- Sidebar -->
						<div class="sidebar nobottommargin">							
						
							<div class="sidebar-widgets-wrap">

							<ul class="sidenav">
								<li ><a href ng-click="openPage()">Opis<i class="icon-chevron-right"></i></a></li>
								<li class="ui-tabs-active"><a href="#">Lista startowa<i class="icon-chevron-right"></i></a></li>
								<li><a href ng-click="showResultList()">Wyniki<i class="icon-chevron-right"></i></a></li>							
							</ul>

								<div class="widget clearfix">

									<div class="search-short">
										<form action="#" role="form" class="notopmargin nobottommargin">
											
											<div class="input-group divcenter">
												<span>Płeć:</span>
												<select type="text" id="type" name="type" class="form-control" ng-model="sex" ng-options="plec.nazwa for plec in plci">
		
		                        				<option value=""> Wybierz płeć </option>
		                						</select>    
		                					</div>
											<br>
		                					<div class="input-group divcenter">
		                						<span>Fraza:</span>
												 <input type="text"
			                        					id="name" 
			                        					name="name" 
			                        					class="form-control" 
			                        					placeholder="Fraza" 
			                        					ng-model="phrase" 
			                        					ng-pattern ="/^[a-żA-Ż0-9\w -]*$/">					
											</div>
											<br>
											<div class="input-group divcenter">
												<span>Wiek:</span>
												<input type="text"
			                        					id="name" 
			                        					name="name" 
			                        					class="form-control" 
			                        					placeholder="Wiek" 
			                       					 	ng-model="age" 
			                        					ng-pattern ="/^[1-9]\d{0,8}$/">
											</div>
											<br>
											<div class="input-group divcenter">
												<span>Kategoria:</span>
												<select type="text"
			                        					id="type" 
			                        					name="type" 
			                        					class="form-control" 
			                        					ng-model="cat"
			                        					ng-options="category.NAME for category in categories">
			                        
			                        					<option value=""> Wybierz kategorię </option>
		                						</select>       
											</div>
											<br>
											<div class="input-group divcenter">
												<button type="text" class="form-control" ng-click="s()">Szukaj </button>
												<button type="text" class="form-control" ng-click="w()"> Wyczyść </button>
											</div>	 	 


										</form>
									</div>

							</div>
							</div>
														
						</div>
						<!--content -->
						<div class="postcontent nobottommargin col_last">

							<div class="container" ng-show="runners == 0"><h4> Nikt się jeszcze nie zapisał</h4></div>
							<div ng-hide="runners == 0">
							
								<table width="400" class="table">
  								<tr>
								    <th width="100" class="tg-zcxc">Imię</th>
								    <th width="100" class="tg-zcxc">Nazwisko</th>
								    <th width="100" class="tg-zcxc">Kategoria</th>
								    <th width="100" class="tg-zcxc">Klub</th>
  								</tr>
								  <tr ng-repeat="runner in runners">
								    <td width="100" class="tg-yw4l">{{ runner.IMIE }}</td>
								    <td width="100" class="tg-yw4l">{{runner.NAZWISKO}}</td>
								    <td width="100" class="tg-yw4l">{{runner.CATEGORY}}</td>
								    <td width="100" class="tg-yw4l">{{runner.KLUB}}</td>
  								</tr>
								</table>
								</div>
						</div>
					</div>

			</div>
</section>
