<section id="content" ng-controller="editCompetitionController" novalidate>

            <div class="content-wrap">


                    <!-- Challenge main nav + description container -->
                    <div class="container clearfix">
                        
                        <!-- Sidebar -->
                        <div class="sidebar nobottommargin">
                        
                        
                            <div class="sidebar-widgets-wrap">
                            <ul class="sidenav">
                                <li><a href="home/myCompetition">Opis<i class="icon-chevron-right"></i></a></li>
                                <li ><a href ng-click="showRunnersList()" >Lista zawodników<i class="icon-chevron-right"></i></a></li>
                                <li><a href ng-click="showResultList()">Wyniki<i class="icon-chevron-right"></i></a></li>
                                <li class="ui-tabs-active"><a href ng-click="editCompetition()">Edytuj<i class="icon-chevron-right"></i></a></li>
                                
                            </ul>
                            </div>
                        </div>

<div class="postcontent nobottommargin col_last">
      
    <form name="editCompetitionForm" class="form-horizontal" >
       <section id="content"> 
        <div class="container" ng-show="registrationForm.$submitted">
            <div class="alert alert-danger">
                <strong>{{retInfo}}</strong>
            </div>
       </div> 

        <div class="container"> 
           <label class="col-lg-2">Nazwa*</label>     
            <div class="col-lg-6">
                <input type="text"
                        id="name" 
                        name="name" 
                        class="form-control" 
                        placeholder="Nazwa" 
                        ng-model="competition.name" 
                        required 
                        ng-pattern ="/^[a-żA-Ż0-9\w -]*$/"> 
                <div ng-messages="editCompetitionForm.name.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.name.$touched">
                    <span ng-message="required" class="help-block"> Pole jest wymagane! </span>
                    <span ng-message="pattern" class="help-block">Pole może zawierać tylko litery i cyfry! </span>
                </div>
             </div>
        </div> 
        <br>
        <div class="container">
            <label class="col-lg-2">Data rozpoczęcia*</label>
                        
            <div class="col-lg-6 ">

            <p class="input-group">
                <input type="text"
                        id="startDate"
                        name="startDate"
                        class="form-control" 
                        uib-datepicker-popup="dd.MM.yyyy" 
                        ng-model="competition.startDate" 
                        is-open="popup1.opened" 
                        datepicker-options="dateOptions"
                        placeholder="dd.mm.rrrr"
                        date-validator
                        required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>

                <div ng-messages="editCompetitionForm.startDate.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.startDate.$touched">
                    <span ng-show="!editCompetitionForm.startDate.$valid" class="help-block"> Niepoprawnie uzupełnione pole </span>
                </div> 
            </div>
        </div>
        <br>
         <div class="container">
            <label class="col-lg-2">Czas rozpoczęcia*</label>                        
            <div class="col-lg-6">
            <uib-timepicker
                        id="startTime"
                        name="startTime" 
                        ng-model="competition.startTime" 
                        show-meridian="ismeridian" 
                        required>
            </uib-timepicker>                     
                      
               <div ng-messages="editCompetitionForm.startTime.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.startTime.$touched">
                    <span ng-message="required" class="help-block">Pole jest wymagane</span>
               </div>
            </div>
        </div>
        <br>
        <div class="container">
            <label class="col-lg-2">Data zakończenia*</label>
            
            <div class="col-lg-6 ">

            <p class="input-group">
                <input type="text"
                        id="endDate"
                        name="endDate"
                        class="form-control" 
                        uib-datepicker-popup="dd.MM.yyyy" 
                        ng-model="competition.endDate" 
                        is-open="popup2.opened" 
                        datepicker-options="dateOptions"
                        placeholder="dd.mm.rrrr"
                        date-validator 
                        required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>

                     
                <div ng-messages="editCompetitionForm.endDate.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.endDate.$touched">
                    <span ng-show="!editCompetitionForm.endDate.$valid" class="help-block"> Niepoprawnie uzupełnione pole </span>
                </div>
            </div>
        </div>
        <br>
         <div class="container">
            <label class="col-lg-2">Czas zakończenia*</label>                        
            <div class="col-lg-6">
             <uib-timepicker
                        id="endTime"
                        name="endTime" 
                        ng-model="competition.endTime" 
                        show-meridian="ismeridian" 
                        required>
            </uib-timepicker>  
                      
               <div ng-messages="editCompetitionForm.endTime.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.endTime.$touched">
                    <span ng-message="required" class="help-block">Pole jest wymagane</span>
               </div>
            </div>
        </div>
        <br>
          <div class="container">
            <label class="col-lg-2">Miejscowość*</label>
                        
            <div class="col-lg-6">
                <input type="text" 
                            id="city" 
                            name="city" 
                            class="form-control" 
                            ng-model="competition.city"
                            placeholder="Miejscowość"
                            required
                            ng-pattern ="/^[a-żA-Ż0-9\w -]*$/">                       

                <div ng-messages="editCompetitionForm.city.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.city.$touched">
                     <span ng-message="pattern" class="help-block">  Pole może zawierać tylko litery </span>
                     <span ng-message="required" class="help-block"> Pole jest wymagane </span>                
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <label class="col-lg-2">Typ*</label>
                        
            <div class="col-lg-6">
                <select type="text"
                        id="type" 
                        name="type" 
                        class="form-control" 
                        ng-model="competition.type"
                        ng-options="type.name group by type.type for type in types"
                        required>

                        <option ng-model="selected" value=""> Wybierz typ </option>
                       
                </select>                      
               <div ng-messages="editCompetitionForm.type.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.type.$touched">
                    <span ng-message="required" class="help-block">Pole jest wymagane</span>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <label class="col-lg-2">Zawody płatne</label>
            <div class="col-lg-6">
                <input  type="checkbox"
                        id="payCheck" 
                        name="payCheck" 
                        ng-model="competition.payCheck"
                        ng-focus="competition.pay=''"
                        ng-init="competition.payCheck=false">    

                        <input type="text"
                        id="pay" 
                        name="pay" 
                        class="form-control"
                        style="width:100px; display:inline-block" 
                        ng-disabled="!competition.payCheck"
                        placeholder="Kwota"
                        ng-model="competition.pay"
                        ng-pattern="/^[1-9]\d{0,8}$/" 
                        ng-required="competition.payCheck"
                        >  

                        <div ng-messages="editCompetitionForm.pay.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.pay.$touched">
                            <span ng-message="pattern" class="help-block">  Pole może zawierać tylko liczby(większe od 0)</span>
                            <span ng-message="min" class="help-block">Minimalna kwota to 1</span>
                            <span ng-message="required" class="help-block"> Podaj kwotę! </span>                          
                        </div>                                      
            </div>                       
        </div>


        <br>
         <div class="container">
            <label class="col-lg-2">Limit uczestników</label>
            <div class="col-lg-6">            
                <input  
                        type="checkbox"
                        ng-model="competition.memberLimitCheck"
                        id="memberLimitCheck" 
                        name="memberLimitCheck"
                        ng-focus="competition.memberLimit=''" 
                        ng-init="competition.memberLimitCheck=false">
                         
                <input type="text"
                        id="memberLimit" 
                        name="memberLimit" 
                        class="form-control"
                        style="width:100px; display:inline-block" 
                        ng-disabled="!competition.memberLimitCheck"
                        placeholder="Limit"
                        ng-model="competition.memberLimit"
                        ng-pattern="/^[1-9]\d{0,8}$/" 
                        ng-maxlength="4"
                        ng-required="competition.memberLimitCheck"
                        >  

                        <div ng-messages="editCompetitionForm.memberLimit.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.memberLimit.$touched">
                            <span ng-message="pattern" class="help-block">  Pole może zawierać tylko liczby(większe od 0)</span>
                            <span ng-message="maxlength" class="help-block">Maksymalna liczba uczestników to 9999</span>
                            <span ng-message="min" class="help-block">Minimalna liczba uczestników to 1</span>
                            <span ng-message="required" class="help-block"> Podaj limit zawodników! </span>                          
                        </div>          
            </div>                       
        </div>   
        <br>
        <div class="container">
            <label class="col-lg-1">Dodaj logo</label>
            <div class="col-lg-6">
                <input  type="file"
                        id="logo" 
                        name="logo"
                        ng-model="logo" 
                        maxsize="5"
                        accept="image/jpeg" 
                        base-sixty-four-input> 

                         <div ng-messages="editCompetitionForm.logo.$error" ng-show="editCompetitionForm.$submitted || editCompetitionForm.logo.$touched">
                            <span ng-message="accept" class="help-block"> Zły typ pliku(wymagane rozszerzenie to .jpg)</span>
                            <span ng-message="maxsize" class="help-block">Plik jest za duży (max. 5 KB)</span>                         
                        </div>      

            </div>                       
        </div> 

        <br>
        <div class="container">
            <label class="col-lg-1">Opis</label>
            <div class="col-lg-8">
                <textarea class="form-control"
                        ckeditor="options" 
                        ng-model="competition.description" 
                        ready="onReady()">
                </textarea>               

            </div>                       
        </div> 
        <br>
        <div class="container"><h4>Pola zaznaczone gwiazdką* są wymagane.</h4></div>
        
        <div class="container">
            <div class=" text-center">
                <button class="btn btn-primary btn-lg" ng-disabled="!editCompetitionForm.$valid" ng-click="saveEditCompetitionClick()"> Zapisz zmiany </button>
                <button class="btn btn-primary btn-lg" style="margin-right: 200px;" ng-click="backClick()"> Wróć </button>

            </div>
        </div> 
        </section>
    </form>
    </div>
    </div>
    </div>
    </section>