
<div class="section">
			<div class="container clearfix">
				<div class="center">
					
					<div class="col_two_third topmargin nobottommargin">

						<div style="position: relative;" data-height-lg="535" data-height-md="442" data-height-sm="338" data-height-xs="316" data-height-xxs="201">
							<h3 data-animate="fadeInLeft" height="100%" style="position: absolute; top: 0; left: 0;">1. TWÓRZ ZAWODY</h3>
							<img data-animate="fadeInLeft" src="images/tworzenie.png" height="100%" style="position: absolute; top: 0; left: 400px; ">
							<h3 data-animate="fadeInLeft" data-delay="400" height="100%" style="position: absolute; top: 50px; left: 0;">2. ZBIERZ ZAWODNIKÓW</h3>
							<h3 data-animate="fadeInLeft" data-delay="800" height="100%" style="position: absolute; top: 100px; left: 0;">3. WYZNACZ TRASĘ</h3>
							<img data-animate="fadeInLeft" data-delay="1600" src="images/wyscig.png" height="100%" style="position: absolute; top: 150px; left: 700px;">
							<h3 data-animate="fadeInLeft" data-delay="1200" height="100%" style="position: absolute; top: 150px; left: 0;">4. ŚCIGAJ SIE!!!</h3>
							<h3 data-animate="fadeInLeft" data-delay="1600" height="100%" style="position: absolute; top: 200px; left: 0;">5. PRZEGLĄDAJ WYNIKI</h3>
							<h3 data-animate="fadeInDown" data-delay="2000" height="100%" style="position: absolute; top: 350px; left: 0;">SPRAWDŹ SAM JAKIE TO PROSTE!</h3>
							<h3 data-animate="fadeInDown" data-delay="2000" height="100%" style="position: absolute; top: 380px; left: 0;">ODKRYJ WSZYSTKIE FUNKCJE NASZEJ APLIKACJI!</h3>
							
						</div>

					</div>
				</div>
			</div>

		</div>

	<script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>