	
	<section id="slider" class="slider-parallax swiper_wrapper clearfix">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('images/slider/swiper/1.jpg');">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-center">
								<h2 data-caption-animate="fadeInUp">Organizuj zawody</h2>
								<p data-caption-animate="fadeInUp" data-caption-delay="200">Mierz czas, gromadź społeczność, zarządzaj wynikami zawodów rowerowych, biegowych, motorowych i innych. Za darmo.</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/slider/swiper/3.jpg');">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-center">
								<h2 data-caption-animate="fadeInUp">Bierz udział w zawodach</h2>
								<p data-caption-animate="fadeInUp" data-caption-delay="200">Szukaj zawodów blisko Ciebie. Mierz swój czas i postępy, porównuj je z innnymi. Odkryj naszą aplikację mobilną.</p>
							</div>
						</div>
					</div>
				</div>
				<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
				<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
				<div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
			</div>

		</section>
<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

			
				<div class="section">
					<div class="container clearfix">

					<div class="heading-block center">
						<h2>Just race</h2>
						<span>Innowacyjne podejście do pomiaru czasu zawodów sportowych</span>
					</div>
				
					<div class="col_two_third topmargin nobottommargin">

						<div style="position: relative;" data-height-lg="535" data-height-md="442" data-height-sm="338" data-height-xs="316" data-height-xxs="201">
							<img data-animate="fadeInLeft" src="images/landing/device1.png" alt="Mac" style="position: absolute; top: 0; left: 0;">
							<img data-animate="fadeInRight" data-delay="300" src="images/landing/device2.png" alt="iPad" style="position: absolute; top: 0; left: 0;">
							<img data-animate="fadeInUp" data-delay="600" src="images/landing/device3.png" alt="iPhone" style="position: absolute; top: 0; left: 0;">
						</div>

					</div>

					<div class="col_one_third topmargin nobottommargin col_last">

						<h3>Krótki opis</h3>

						<p>MultiJustRace to niskokosztowy, zautomatyzowany system pomiaru czasu zawodów sportowych oraz atrakcyjny portal prezentujący wyniki on-line. System wdraża wiele procesów samoobsługi zawodnika oraz wykorzystuje fakt upowszechnienia się telefonów z funkcją GPS i dostępem do internetu.</p>

						<div class="divider divider-short"><i class="icon-circle"></i></div>

						<ul class="iconlist iconlist-large iconlist-color">
							<li><i class="icon-ok-sign"></i> Niskokosztowy</li>
							<li><i class="icon-ok-sign"></i> Profesjonalny</li>
							<li><i class="icon-ok-sign"></i> Dokładny</li>
							<li><i class="icon-ok-sign"></i> Wygodny w obsłudze</li>
						</ul>

					</div>

					<div class="clear"></div>
					
				</div>
				</div>
							

				<div class="section section-bg-2">
					<div class="container clearfix">

						<div class="heading-block center topmargin">
							<h2>Najbliższe zawody</h2>
						</div>


							<!-- Portfolio Items -->
							<div id="portfolio" class="portfolio-4 clearfix" ng-controller="mainController">
	
								<article class="portfolio-item pf-rowerowe pf-active pf-featured" ng-repeat="competition in competitions">
									<div class="portfolio-image">
										<a href ng-click="showCompetitionDetails(competition.COMPETITION_ID)">
											<img ng-show="competition.TYP == 'Bieg przełajowy' ||
														  competition.TYP == 'Bieg maratoński' ||
														  competition.TYP == 'Bieg uliczny' ||
														  competition.TYP == 'Bieg górski' ||
														  competition.TYP == 'Chód'" 
														  style='width:280px;height:230px;' src="images/bieg.png" />

											<img ng-show="competition.TYP == 'Kolarstwo szosowe' ||
														  competition.TYP == 'Kolarstwo górskie'" 
														  style='width:280px;height:230px;' src="images/rowerowe.png" />

											<img ng-show="competition.TYP == 'Bieg narciarski' ||
														  competition.TYP == 'Narciarstwo alpejskie'" 
														  style='width:280px;height:230px;' src="images/zimowe.png" />

											<img ng-show="competition.TYP == 'Wyścig samolotów' ||
														  competition.TYP == 'Wyścig balonów'" 
														  style='width:280px;height:230px;' src="images/powietrzne.png" />

											<img ng-show="competition.TYP == 'Wyścig off-road' ||
														  competition.TYP == 'Karting' ||
														  competition.TYP == 'Wyścig motocykli' ||
														  competition.TYP == 'Wyścig quadów' || 
														  competition.TYP == 'Wyścig samochodowy' ||
														  competition.TYP == 'Wyścig skuterów śnieżnych'" 
														  style='width:280px;height:230px;' src="images/motorowe.png" />

											<img ng-show="competition.TYP == 'Kajakarstwo' ||
														  competition.TYP == 'Wioślarstwo'" 
														  style='width:280px;height:230px;' src="images/wodne.png" />

											<img ng-show="competition.TYP == 'Inne'" 
														  style='width:280px;height:230px;' src="images/czas.png" />
										</a>
										<div class="portfolio-overlay">
											<a href ng-click="showCompetitionDetails(competition.COMPETITION_ID)" class="center-icon"><i class="icon-line-ellipsis"></i></a>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3><a href ng-click="showCompetitionDetails(competition.COMPETITION_ID)">{{competition.NAME}}</a></h3>
										<div class="portfolio-desc-meta">
											<div class="col-sm-6 portfolio-desc-meta-text">
												<i class="color icon-calendar2 inline-block fright"></i>
												<span ng-show="competition.DIFF == 0" class="text ng-binding">Dzisiaj</span>
												<span ng-show="!competition.DIFF == 0 &&  competition.DIFF < 15 &&  competition.DIFF > -1" class="text ng-binding">za {{competition.DIFF}} dni
												</span>
												<span ng-show="competition.DIFF > 14" class="text ng-binding">{{competition.DATA_ROZP}}</span>
												<span ng-show="competition.DIFF == -1" style="color: red" class="text ng-binding">Zakończone</span>

											</div>											
											<div class="col-sm-6 portfolio-desc-meta-text left-border">
												<i class="color icon-line2-clock inline-block"></i>
												<span class="text ng-binding">{{competition.CZAS_ROZP}}</span>
											</div>																						
											<div class="col-sm-12 portfolio-desc-meta-text left-border">
												<i class="color icon-line2-pointer inline-block"></i>
												<span class="text ng-binding"> {{competition.MIEJSCOWOSC}}</span>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</article>
		
							</div><!-- #portfolio end -->
	
							<div class="clearfix text-center topmargin-lg">
								<a class="button" href="/home/competitions">Więcej zawodów</a>
							</div>

					</div>				
				</div>


				
			</div>
			
		</section><!-- #content end -->
 <script type="text/javascript" src="js/jquery.js"></script>

    <script type="text/javascript" src="js/functions.js"></script>