<section id="content"  ng-controller="makeClassificationController">

            <div class="content-wrap">


                    <div class="container clearfix">
    
    
                        <!-- Sidebar -->
                        <div class="sidebar nobottommargin">

                            
                        
                            <div class="sidebar-widgets-wrap">

                            <ul class="sidenav">
                                <li ><a href ng-click="showDescription()">Opis<i class="icon-chevron-right"></i></a></li>
                                <li><a ng-show="editActive" href ng-click="editCompetition()">Edytuj<i class="icon-chevron-right"></i></a></li>
                                <li class="ui-tabs-active"><a href="#">Ustal klasyfikacje<i class="icon-chevron-right"></i></a></li>

                            </ul>
                            </div>

                        </div>

                            


 <div class="postcontent nobottommargin col_last">
    <form name="makeClassificationForm" novalidate>

        <div id="requestResult" class="well text-center" ng-show="requestResult">{{requestResult}}</div>

        <h2>Definiowanie klasyfikacji etapu "{{name}}"</h2>
        <br>
        <br>
        <div class="container">
            <label class="col-lg-2">KLASYFIKACJE</label>

            <div class="col-lg-6">
                <select type="text"
                        id="type"
                        name="type"
                        class="form-control"
                        ng-model="classification.type"
                        ng-options="type.name for type in types"
                        required>

                    <option value=""> Wybierz klasyfikację... </option>
                </select>

                <div ng-messages="makeClassificationForm.type.$error" ng-show="makeClassificationForm.$submitted || makeClassificationForm.type.$touched">
                    <span ng-message="required" class="help-block">Pole jest wymagane</span>
                </div>
            </div>
        </div>
    </form>

     <form name="makeClassificationForm1" novalidate>
        <div class="container" ng-show="classification.type.name == 'Klasyfikacja punktowa'">
            <label class="col-lg-2">LINIA POMIAROWA </label>

            <div class="col-lg-6">
                <select type="text"
                        id="linie"
                        name="linie"
                        class="form-control"
                        ng-model="classification.lines"
                        ng-options="type.name for type in lines"
                        required>

                    <option value=""> Wybierz linię pomiarową... </option>
                </select>

                <div ng-messages="makeClassificationForm1.type.$error" ng-show="makeClassificationForm1.$submitted || makeClassificationForm1.type.$touched">
                    <span ng-message="required1" class="help-block">Pole jest wymagane</span>
                </div>
            </div>
        </div>
        <br>
        <br>


        <div ng-show="competition1.length > 0" id="map" style="width:800px;height:450px;background:white"></div>
         <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0lVpHRuXY4EItUedoBZA5r0xtFUzCWDE&callback=myMap" type="text/javascript"></script>
        <script>
            var trasa1 = [];
            var start1 = [];
            var meta1 = [];
            var srodek1 = [];
            var POI1 = [];
            var POIname1 = [];
            trasa1 = JSON.parse(sessionStorage.getItem('trasa'));
            start1 = JSON.parse(sessionStorage.getItem('start'));
            meta1 = JSON.parse(sessionStorage.getItem('meta'));
            srodek1 = JSON.parse(sessionStorage.getItem('srodek'));
            POI1 = JSON.parse(sessionStorage.getItem('POI'));
            POIname1 = JSON.parse(sessionStorage.getItem('POIname'));
            var liniaTrasa1 = new Array();
            var liniaStart1 = new Array();
            var liniaMeta1 = new Array();
            var liniaSrodek1 = new Array();
            var linieKontrolne = [];

            var markerStart = [];
            var markerMeta = [];
            var markerSrodek = [];
            var markerPOI = [];

            function myMap() {

                for(i=0;i<trasa1.length;i=i+2)
                {
                  var point =new google.maps.LatLng(trasa1[i],trasa1[i+1]);
                  liniaTrasa1.push(point);
               }
               for(i=0;i<start1.length;i=i+2)
                {
                  var point1 =new google.maps.LatLng(start1[i],start1[i+1]);
                  liniaStart1.push(point1);
               }
               for(i=0;i<meta1.length;i=i+2)
                {
                  var point2 =new google.maps.LatLng(meta1[i],meta1[i+1]);
                  liniaMeta1.push(point2);
               }
               for(i=0;i<srodek1.length;i=i+2)
                {
                  var point3 =new google.maps.LatLng(srodek1[i],srodek1[i+1]);
                  liniaSrodek1.push(point3);
               }
              var myCenter = new google.maps.LatLng(trasa1[0],trasa1[1]);
              var mapCanvas = document.getElementById("map");
              var mapOptions = {center: myCenter, zoom: 17};
              var map = new google.maps.Map(mapCanvas, mapOptions);

            <!--markery-->
            var infowindowStart = new google.maps.InfoWindow({
                content: "<span>Linia startu</span>"
            });
             var infowindowMeta = new google.maps.InfoWindow({
                content: "<span>Linia mety</span>"
            });
            var infowindowSrodek = new google.maps.InfoWindow({
                content: "<span>Linia pomiarowa nr </span>"
            });
            var infowindowPOI = new google.maps.InfoWindow({
                content: "<span>POI</span>"
            });



            markerStart[0] = new google.maps.Marker({
                position:liniaStart1[0],
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                title: 'Start'
            });
            markerStart[1] = new google.maps.Marker({
                position:liniaStart1[1],
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                title: 'Start'
            });
            markerStart[0].setMap(map);
            markerStart[1].setMap(map);
            google.maps.event.addListener(markerStart[0], 'click', function() {
              infowindowStart.open(map,markerStart[0]);
            });
            google.maps.event.addListener(markerStart[1], 'click', function() {
              infowindowStart.open(map,markerStart[1]);
            });


            markerMeta[0] = new google.maps.Marker({
                position:liniaMeta1[0],
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                title: 'Meta'
            });
            markerMeta[1] = new google.maps.Marker({
                position:liniaMeta1[1],
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                title: 'Meta'
            });
            markerMeta[0].setMap(map);
            markerMeta[1].setMap(map);
            google.maps.event.addListener(markerMeta[0], 'click', function() {
              infowindowMeta.open(map,markerMeta[0]);
            });
            google.maps.event.addListener(markerMeta[1], 'click', function() {
              infowindowMeta.open(map,markerMeta[1]);
            });

            for( i=0; i<POIname1.length; i++){
            markerPOI[i] = new google.maps.Marker({
                position:new google.maps.LatLng(POI1[i],POI1[i+1]),
                icon: 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png',
                title: POIname1[i]
            });

            markerPOI[i].setMap(map);

            google.maps.event.addListener(markerPOI[i], 'click', function() {
              infowindowPOI.open(map,markerPOI[i]);
            });
            }



            <!--linie-->

            var flightPath = new google.maps.Polyline({
            path: liniaTrasa1,
            strokeColor: "#434749",
            strokeOpacity: 0.8,
            strokeWeight: 4
          });
          var flightPath1 = new google.maps.Polyline({
            path: liniaStart1,
            strokeColor: "#004dfc",
            strokeOpacity: 0.8,
            strokeWeight: 3
          });
          var flightPath2 = new google.maps.Polyline({
            path: liniaMeta1,
            strokeColor: "#03f400",
            strokeOpacity: 0.8,
            strokeWeight: 3
          });

            for(i=0,j=1;i<(srodek1.length)/2;i++, j++)
                {
                  linieKontrolne[i] =  new google.maps.Polyline({
                    path: [liniaSrodek1[(2*i)],liniaSrodek1[(2*i)+1]],
                    strokeColor: "#fd5700",
                    strokeOpacity: 0.8,
                    strokeWeight: 3
                  });
                  linieKontrolne[i].setMap(map)

                  markerSrodek[(2*i)] = new google.maps.Marker({
                    position:liniaSrodek1[(2*i)],
                    icon: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
                    title: 'Linia pomiarowa nr '+ j
                });
                markerSrodek[(2*i)+1] = new google.maps.Marker({
                    position:liniaSrodek1[(2*i)+1],
                    icon: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
                    title: 'Linia pomiarowa nr '+ j
                });
                markerSrodek[(2*i)].setMap(map);
                markerSrodek[(2*i)+1].setMap(map);
                google.maps.event.addListener(markerSrodek[(2*i)], 'click', function() {
                  infowindowSrodek.open(map,markerSrodek[(2*i)]);
                });
                google.maps.event.addListener(markerSrodek[(2*i)+1], 'click', function() {
                  infowindowSrodek.open(map,markerSrodek[(2*i)+1]);
                });


               }

          flightPath.setMap(map)
          flightPath1.setMap(map)
          flightPath2.setMap(map)

            <!--for(i=0;i<(srodek1.length)/2;i++)-->
                <!--{-->
                  <!--linieKontrolne[i].setMap(map)-->
               <!--}-->


        }
        </script>



        <br>
        <br>

         <!--pierwsza forma-->
    <form name="addPoint" novalidate>
        <div class="container" ng-show="classification.type.name == 'Klasyfikacja punktowa'">
        <label class="col-lg-2">Punktacja</label>
	<label1 class="col-lg-2">Ilość punktów za miejsce </label1>
	<div class="col-lg-1">
                <input type="number"
                       id="Nrpoints"
                       name="points"
                       class="form-control"
                       placeholder="NrPoint"
                       ng-model="classification.NrOfPoints"
                       required
                       ng-pattern ="/^[0-9]*$/">

                <div ng-messages="addPoint.$error" ng-show="addPoint.$submitted || addPoint.$touched">
                    <span ng-message="required" class="help-block"> Pole jest wymagane! </span>
                    <span ng-message="pattern" class="help-block">Pole może zawierać tylko cyfry! </span>
                </div>
            </div>
	<label1 class="col-lg-13" ng-show="classification.type.name == 'Klasyfikacja punktowa'">:</label1>
	<div class="col-lg-2" ng-show="classification.type.name == 'Klasyfikacja punktowa'">
                <input type="number"
                       id="points"
                       name="points"
                       class="form-control"
                       placeholder="Punkty"
                       ng-model="classification.points"
                       required
                       ng-pattern ="/^[0-9]*$/">

		<div ng-messages="addPoint.$error" ng-show="addPoint.$submitted || addPoint.$touched">
                    <span ng-message="required" class="help-block"> Pole jest wymagane! </span>
                    <span ng-message="pattern" class="help-block">Pole może zawierać tylko cyfry! </span>
                </div> 
            </div>
    </div>
        <br>
        <div class="container" ng-show="classification.type.name == 'Klasyfikacja punktowa'">
            <div class=" text-center">
                <button  class="btn btn-primary btn-lg" style="margin-right: 200px;" ng-disabled="!addPoint.$valid && !makeClassificationForm1.$valid" ng-click="addPoint()"> Potwierdź </button>
            </div>
        </div>
        <br>
        <div id="requestResult1" class="well text-center" ng-show="requestResult1">{{requestResult1}}</div>
    </form>
         <!--koniec pierwszego forma-->

         <!--drugi form-->
         <form name="addTime" novalidate>
        <div class="container" ng-show="classification.type.name == 'Klasyfikacja punktowa'">
            <label class="col-lg-2">Premia czasowa</label>
            <label1 class="col-lg-2">Bonusowe sekundy za miejsce</label1>
            <div class="col-lg-1">
                <input type="number"
                       id="timepoints"
                       name="timepoints"
                       class="form-control"
                       placeholder="NrTime"
                       ng-model="classification.NrOfTimePoints"
                       required
                       ng-pattern ="/^[0-9]*$/">

                <div ng-messages="addTime.$error" ng-show="addTime.$submitted || addTime.$touched">
                    <span ng-message="required" class="help-block"> Pole jest wymagane! </span>
                    <span ng-message="pattern" class="help-block">Pole może zawierać tylko cyfry! </span>
                </div>
            </div>
            <label1 class="col-lg-13" ng-show="classification.type.name == 'Klasyfikacja punktowa'">:</label1>
              <div class="col-lg-2" ng-show="classification.type.name == 'Klasyfikacja punktowa'">
                <input type="number"
                       id="Nrnumber"
                       name="points"
                       class="form-control"
                       placeholder="Bonusowe sekundy"
                       ng-model="classification.timepoints"
                       required
                       ng-pattern ="/^[0-9]*$/">	
	            <div ng-messages="addTime.$error" ng-show="addTime.$submitted || addTime.$touched">
                    <span ng-message="required" class="help-block"> Pole jest wymagane! </span>
                    <span ng-message="pattern" class="help-block">Pole może zawierać tylko cyfry! </span>
                </div>        
	        </div>
        </div>

            <div class="container" ng-show="classification.type.name == 'Klasyfikacja punktowa'">
                <div class=" text-center">
                    <button  class="btn btn-primary btn-lg" style="margin-right: 200px;" ng-disabled="!addTime.$valid && !makeClassificationForm1.$valid" ng-click="addTime1()"> Potwierdź </button>
                </div>
            </div>
             <br>
             <div id="requestResult2" class="well text-center" ng-show="requestResult2">{{requestResult2}}</div>
         </form>
<!--koniec drugiego forma-->
        <br>
        <br>
        <div class="container">
        <div class=" text-center">
             <button  class="btn btn-primary btn-lg" style="margin-right: 200px;" ng-disabled="!makeClassificationForm.$valid" ng-click="addMultiCompetitionClick()"> Potwierdź klasyfikację </button>
             </div>
        </div>
     </form>

    </div>
    </div>
    </div>
    </section>
