<section id="content"  ng-controller="makeClassificationController">

            <div class="content-wrap">


                    <div class="container clearfix">
    
    
                        <!-- Sidebar -->
                        <div class="sidebar nobottommargin">

                            
                        
                            <div class="sidebar-widgets-wrap">

                            <ul class="sidenav">
                                <li ><a href ng-click="showDescription()">Opis<i class="icon-chevron-right"></i></a></li>
                                <li><a ng-show="editActive" href ng-click="editCompetition()">Edytuj<i class="icon-chevron-right"></i></a></li>
                                <li class="ui-tabs-active"><a href="#">Ustal klasyfikacje<i class="icon-chevron-right"></i></a></li>

                            </ul>
                            </div>

                        </div>

                            


 <div class="postcontent nobottommargin col_last">
    <form name="makeClassificationForm" novalidate>

        <div id="requestResult" class="well text-center" ng-show="requestResult">{{requestResult}}</div>

        <h2>Definiowanie klasyfikacji etapu "{{name}}"</h2>
        <br>
        <br>
        <div class="container">
            <label class="col-lg-2">KLASYFIKACJE</label>

            <div class="col-lg-6">
                <select type="text"
                        id="type"
                        name="type"
                        class="form-control"
                        ng-model="classification.type"
                        ng-options="type.name for type in types"
                        required>

                    <option value=""> Wybierz klasyfikację... </option>
                </select>

                <div ng-messages="makeClassificationForm.type.$error" ng-show="makeClassificationForm.$submitted || makeClassificationForm.type.$touched">
                    <span ng-message="required" class="help-block">Pole jest wymagane</span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <label class="col-lg-2">LINIA POMIAROWA </label>

            <div class="col-lg-6">
                <select type="text"
                        id="linie"
                        name="linie"
                        class="form-control"
                        ng-model="classification.lines"
                        ng-options="type.name for type in lines"
                        required>

                    <option value=""> Wybierz linię pomiarową... </option>
                </select>

                <div ng-messages="makeClassificationForm.type.$error" ng-show="makeClassificationForm.$submitted || makeClassificationForm.type.$touched">
                    <span ng-message="required" class="help-block">Pole jest wymagane</span>
                </div>
            </div>
        </div>
        <br>
        <br>


        <div id="map" style="width:800px;height:400px;background:white"></div>
        <script>
            var trasa1 = [];
            var start1 = [];

            trasa1 = JSON.parse(sessionStorage.getItem('trasa'));
            start1 = JSON.parse(sessionStorage.getItem('start'));

            var liniaTrasa1 = new Array();
            var liniaStart1 = new Array();

            function myMap() {

                for(i=0;i<trasa1.length;i=i+2)
                {
                  var point =new google.maps.LatLng(trasa1[i],trasa1[i+1]);
                  liniaTrasa1.push(point);
               }
               for(i=0;i<start1.length;i=i+2)
                {
                  var point1 =new google.maps.LatLng(start1[i],start1[i+1]);
                  liniaStart1.push(point1);
               }
              var myCenter = new google.maps.LatLng(trasa1[0],trasa1[1]);
              var mapCanvas = document.getElementById("map");
              var mapOptions = {center: myCenter, zoom: 17};
              var map = new google.maps.Map(mapCanvas, mapOptions);

        //    var marker = new google.maps.Marker({position:myCenter});
          //  marker.setMap(map);

            var flightPath = new google.maps.Polyline({
            path: liniaTrasa1,
            strokeColor: "#434749",
            strokeOpacity: 0.8,
            strokeWeight: 3
          });
          var flightPath1 = new google.maps.Polyline({
            path: liniaStart1,
            strokeColor: "#0000d9",
            strokeOpacity: 0.8,
            strokeWeight: 4
          });
          flightPath.setMap(map)
          //niebieski #0000d9
         // pomaranczowy #fd5700
        //zielony #03f400
        }
        </script>

         <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0lVpHRuXY4EItUedoBZA5r0xtFUzCWDE&callback=myMap" type="text/javascript"></script>

        <br>
        <br>

        <div class="container">
            <label class="col-lg-2">Punktacja</label>
            <div class="col-lg-3">
                <input type="number"
                       id="points"
                       name="points"
                       class="form-control"
                       placeholder="Punktacja"
                       ng-model="classification.points"
                       required
                       ng-pattern ="/^[0-9]*$/">

                <div ng-messages="addStageForm.name.$error" ng-show="addStageForm.$submitted || addStageForm.name.$touched">
                    <span ng-message="required" class="help-block"> Pole jest wymagane! </span>
                    <span ng-message="pattern" class="help-block">Pole może zawierać tylko cyfry! </span>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <label class="col-lg-2">Premia czasowa</label>
            <label class="col-lg-4">Bonusowe sekundy za miejsce</label>
            <div class="col-lg-4">
                <input type="number"
                       id="timepoints"
                       name="timepoints"
                       class="form-control"
                       placeholder="Premia czasowa"
                       ng-model="classification.timepoints"
                       required
                       ng-pattern ="/^[0-9]*$/">

                <div ng-messages="addStageForm.name.$error" ng-show="addStageForm.$submitted || addStageForm.name.$touched">
                    <span ng-message="required" class="help-block"> Pole jest wymagane! </span>
                    <span ng-message="pattern" class="help-block">Pole może zawierać tylko cyfry! </span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
        <div class=" text-center">
             <button  class="btn btn-primary btn-lg" style="margin-right: 200px;" ng-disabled="!makeClassificationForm.$valid" ng-click="addMultiCompetitionClick()"> Potwierdź klasyfikację </button>
             </div>
        </div>            
    </form>
    </div>
    </div>
    </div>
    </section>