<section id="content" ng-controller="myCompetitionsController" ng-init="init()">

			<div class="content-wrap">


					<div class="container clearfix">
	
	
						<!-- Sidebar -->
						<div class="sidebar nobottommargin">

							
						
							<div class="sidebar-widgets-wrap">

							<ul class="sidenav">
								<li class="ui-tabs-active"><a href="#">Moje zawody<i class="icon-chevron-right"></i></a></li>
								<li ><a href="/Multi/Multi/home/addCompetition">Nowe zawody jednoetapowe<i class="icon-chevron-right"></i></a></li>
								<li ><a href="/Multi/Multi/home/addMultiCompetition">Nowe zawody wieloetapowe<i class="icon-chevron-right"></i></a></li>
							</ul>

								<div class="widget clearfix">

									<h4><span class="amount-found">{{countFinded}}</span> zawodów znaleziono <br> <span class="amount-found">{{countActive}}</span> dopiero się odbędzie</h4>
									<div class="search-short">
										<form role="form" class="notopmargin nobottommargin">
											
											<div class="input-group divcenter">
												<span>Typ:</span>
												<select type="text" class="form-control" ng-model="t" ng-options="type.name group by type.type for type in types">
		
		                        				<option value=""> Wybierz typ </option>
		                						</select>    
		                					</div>
											<br>
		                					<div class="input-group divcenter">
		                						<span>Nazwa:</span>
												<input type="text" class="form-control" ng-model="name" placeholder="Nazwa">
											</div>
											<br>
											<div class="input-group divcenter">
												<span>Miejscowość:</span>
												<input type="text" class="form-control" ng-model="place" placeholder="Miejscowość">
											</div>
											<br>
											<div class="input-group divcenter">
												<button type="text" class="form-control" ng-click="s()">Szukaj </button>
												<button type="text" class="form-control" ng-click="w()">Wyczyść </button>
											</div>	 	 


										</form>
									</div>

							</div>
							</div>
														
						</div>
	
					<!-- .sidebar end -->
<div class="postcontent nobottommargin col_last">
	
	<div id="portfolio" class="portfolio-3 clearfix">
		<div ng-repeat="page in pages track by $index" ng-show="show[{{$index}}] == 1">
			<article class="portfolio-item pf-active pf-featured" ng-repeat="competition in page track by $index">
									<div class="portfolio-image">
										<a href ng-click="openPage(competition.COMPETITION_ID)">
											<img ng-show="(competition.TYP == 'Bieg przełajowy' ||
														  competition.TYP == 'Bieg maratoński' ||
														  competition.TYP == 'Bieg uliczny' ||
														  competition.TYP == 'Bieg górski' ||
														  competition.TYP == 'Chód')
															&& competition.WIELOETAPOWE == 0 "
												 style='width:280px;height:230px;' src="images/bieg.png" />
											<img ng-show="(competition.TYP == 'Bieg przełajowy' ||
														  competition.TYP == 'Bieg maratoński' ||
														  competition.TYP == 'Bieg uliczny' ||
														  competition.TYP == 'Bieg górski' ||
														  competition.TYP == 'Chód')
															&& competition.WIELOETAPOWE == 1 "
												 style='width:280px;height:230px;' src="images/bieg1.png" />
											<img ng-show="(competition.TYP == 'Bieg przełajowy' ||
														  competition.TYP == 'Bieg maratoński' ||
														  competition.TYP == 'Bieg uliczny' ||
														  competition.TYP == 'Bieg górski' ||
														  competition.TYP == 'Chód')
															&& competition.WIELOETAPOWE.length > 1 "
												 style='width:280px;height:230px;' src="images/bieg2.png" />

											<img ng-show="(competition.TYP == 'Kolarstwo szosowe' ||
														  competition.TYP == 'Kolarstwo górskie')
														&& competition.WIELOETAPOWE == 0 "
												 style='width:280px;height:230px;' src="images/rowerowe.png" />
											<img ng-show="(competition.TYP == 'Kolarstwo szosowe' ||
														  competition.TYP == 'Kolarstwo górskie')
														&& competition.WIELOETAPOWE == 1 "
												 style='width:280px;height:230px;' src="images/rowerowe1.png" />
											<img ng-show="(competition.TYP == 'Kolarstwo szosowe' ||
														  competition.TYP == 'Kolarstwo górskie')
														&& competition.WIELOETAPOWE.length > 1 "
												 style='width:280px;height:230px;' src="images/rowerowe2.png" />

											<img ng-show="(competition.TYP == 'Bieg narciarski' ||
														  competition.TYP == 'Narciarstwo alpejskie')
														&& competition.WIELOETAPOWE == 0 "
												 style='width:280px;height:230px;' src="images/zimowe.png" />
											<img ng-show="(competition.TYP == 'Bieg narciarski' ||
														  competition.TYP == 'Narciarstwo alpejskie')
														&& competition.WIELOETAPOWE == 1 "
												 style='width:280px;height:230px;' src="images/zimowe1.png" />
											<img ng-show="(competition.TYP == 'Bieg narciarski' ||
														  competition.TYP == 'Narciarstwo alpejskie')
														&& competition.WIELOETAPOWE.length > 1 "
												 style='width:280px;height:230px;' src="images/zimowe2.png" />


											<img ng-show="(competition.TYP == 'Wyścig samolotów' ||
														  competition.TYP == 'Wyścig balonów')
															&& competition.WIELOETAPOWE == 0 "
												 style='width:280px;height:230px;' src="images/powietrzne.png" />
											<img ng-show="(competition.TYP == 'Wyścig samolotów' ||
														  competition.TYP == 'Wyścig balonów')
															&& competition.WIELOETAPOWE == 1 "
												 style='width:280px;height:230px;' src="images/powietrzne1.png" />
											<img ng-show="(competition.TYP == 'Wyścig samolotów' ||
														  competition.TYP == 'Wyścig balonów')
															&& competition.WIELOETAPOWE.length > 1 "
												 style='width:280px;height:230px;' src="images/powietrzne2.png" />

											<img ng-show="(competition.TYP == 'Wyścig off-road' ||
														  competition.TYP == 'Karting' ||
														  competition.TYP == 'Wyścig motocykli' ||
														  competition.TYP == 'Wyścig quadów' ||
														  competition.TYP == 'Wyścig samochodowy' ||
														  competition.TYP == 'Wyścig skuterów śnieżnych')
														  && competition.WIELOETAPOWE == 0 "
												 style='width:280px;height:230px;' src="images/motorowe.png" />
											<img ng-show="(competition.TYP == 'Wyścig off-road' ||
														  competition.TYP == 'Karting' ||
														  competition.TYP == 'Wyścig motocykli' ||
														  competition.TYP == 'Wyścig quadów' ||
														  competition.TYP == 'Wyścig samochodowy' ||
														  competition.TYP == 'Wyścig skuterów śnieżnych')
														  && competition.WIELOETAPOWE == 1 "
												 style='width:280px;height:230px;' src="images/motorowe1.png" />
											<img ng-show="(competition.TYP == 'Wyścig off-road' ||
														  competition.TYP == 'Karting' ||
														  competition.TYP == 'Wyścig motocykli' ||
														  competition.TYP == 'Wyścig quadów' ||
														  competition.TYP == 'Wyścig samochodowy' ||
														  competition.TYP == 'Wyścig skuterów śnieżnych')
														  	&& competition.WIELOETAPOWE.length > 1 "
												 style='width:280px;height:230px;' src="images/motorowe1.png" />

											<img ng-show="(competition.TYP == 'Kajakarstwo' ||
														  competition.TYP == 'Wioślarstwo')
														 && competition.WIELOETAPOWE == 0 "
												 style='width:280px;height:230px;' src="images/wodne.png" />
											<img ng-show="(competition.TYP == 'Kajakarstwo' ||
														  competition.TYP == 'Wioślarstwo')
														 && competition.WIELOETAPOWE == 1 "
												 style='width:280px;height:230px;' src="images/wodne1.png" />
											<img ng-show="(competition.TYP == 'Kajakarstwo' ||
														  competition.TYP == 'Wioślarstwo')
														 	  	&& competition.WIELOETAPOWE.length > 1 "
												 style='width:280px;height:230px;' src="images/wodne2.png" />

											<img ng-show="competition.TYP == 'Inne' && competition.WIELOETAPOWE == 0"
												 style='width:280px;height:230px;' src="images/czas.png" />
											<img ng-show="competition.TYP == 'Inne' && competition.WIELOETAPOWE == 1"
												 style='width:280px;height:230px;' src="images/czas1.png" />
											<img ng-show="competition.TYP == 'Inne' && competition.WIELOETAPOWE.length > 1 "
												 style='width:280px;height:230px;' src="images/czas2.png" />
										</a>
										<div class="portfolio-overlay">
											<a href ng-click="openPage(competition.COMPETITION_ID)" class="center-icon"><i class="icon-line-ellipsis"></i></a>
										</div>
									</div>
									<div class="portfolio-desc">
										<h3><a href ng-click="openPage(competition.COMPETITION_ID, competition.DATA_ROZP, competition.CZAS_ROZP)">{{competition.NAME}}</a></h3>
										<div class="portfolio-desc-meta">
											<div class="col-sm-6 portfolio-desc-meta-text">
												<i class="color icon-calendar2 inline-block fright"></i>
												<span ng-show="competition.DIFF == 0" class="text ng-binding">Dzisiaj</span>
												<span ng-show="!competition.DIFF == 0 &&  competition.DIFF < 15 &&  competition.DIFF > -1" class="text ng-binding">za {{competition.DIFF}} dni
												</span>
												<span ng-show="competition.DIFF > 14" class="text ng-binding">{{competition.DATA_ROZP}}</span>
												<span ng-show="competition.DIFF == -1" style="color: red" class="text ng-binding">Zakończone</span>

											</div>											
											<div class="col-sm-6 portfolio-desc-meta-text left-border">
												<i class="color icon-line2-clock inline-block"></i>
												<span class="text ng-binding">{{competition.CZAS_ROZP}}</span>
											</div>																						
											<div class="col-sm-12 portfolio-desc-meta-text left-border">
												<i class="color icon-line2-pointer inline-block"></i>
												<span class="text ng-binding"> {{competition.MIEJSCOWOSC}}</span>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</article>
								</div>
	
	<br><br>

	<div class="navbar navbar-default navbar-fixed-bottom text-center" role="navigation">
			<button class="{{btn[0]}}" style="{{style[0]}}" ng-click="changePage(0)"> Wcześniej </button>
			<button class="{{btn[1]}}" style="{{style[1]}}" ng-click="changePage(1)"> Styczeń </button>
			<button class="{{btn[2]}}" style="{{style[2]}}" ng-click="changePage(2)"> Luty </button>
			<button class="{{btn[3]}}" style="{{style[3]}}" ng-click="changePage(3)"> Marzec </button>
			<button class="{{btn[4]}}" style="{{style[4]}}" ng-click="changePage(4)"> Kwiecień </button>
			<button class="{{btn[5]}}" style="{{style[5]}}" ng-click="changePage(5)"> Maj </button>
			<button class="{{btn[6]}}" style="{{style[6]}}" ng-click="changePage(6)"> Czerwiec </button>
			<button class="{{btn[7]}}" style="{{style[7]}}" ng-click="changePage(7)"> Lipiec </button>
			<button class="{{btn[8]}}" style="{{style[8]}}" ng-click="changePage(8)"> Sierpień </button>
			<button class="{{btn[9]}}" style="{{style[9]}}" ng-click="changePage(9)"> Wrzesień </button>
			<button class="{{btn[10]}}" style="{{style[10]}}" ng-click="changePage(10)"> Październik </button>
			<button class="{{btn[11]}}" style="{{style[11]}}" ng-click="changePage(11)"> Listopad </button>
			<button class="{{btn[12]}}" style="{{style[12]}}" ng-click="changePage(12)"> Grudzień </button>
			<button class="{{btn[13]}}" style="{{style[13]}}" ng-click="changePage(13)"> Później </button>
	</div>
</div>
</div>
</div>
</div>
</section>

